canvas { 
	border: 2px solid #000; 
	
	float: left;
	/*
	position: fixed;
	top: 60px;
	left: 250px;
	*/
}

aside {
	margin: 10px;
	float: left;
	width: 250px;
}

aside div {
	margin: 5px;
	padding: 5px;
}

.top-behavior {
	outline-color: black;
    outline-style: solid;
    outline-width: 2px;
	outline-offset: 1px;
}