.tab {
	border: 1px solid grey;
	display: none;
}

canvas { 
	border: 2px solid black;
}

#sidebox {
	margin: 10px;
	float: left;
	width: 250px;
}

#sidebox div {
	margin: 5px;
	padding: 5px;
}

.top-behavior {
	outline-color: black;
    outline-style: solid;
    outline-width: 2px;
	outline-offset: 1px;
}

.showtab  {
	background: white;
	border: 1px solid grey;
	border-radius: 5px 5px 0px 0px;
	outline: none;
	margin-bottom: -1px;
	cursor: pointer;
}

.activetab {
	border-bottom: 1px solid white;
}